/* 

	VANILLA TREELINE WEBSITE CSS
	
	description: 2 columns
	
	media: screen, projection
	
	written by: Phil Thompson phil.thompson@ichameleon.com July 2007
	last edited: Phil Thompson 11/07/07 by Phil Thompson
	
	
	ToC
	sidebar
	primary content
	secondary content
	
	

*/

h1.pagetitle {
}

div#sidebar{
    display: none;
}

div#contentholder {
    width: 100%;
}
div#primarycontent{
    float: left;
    width: 70%;
}

div#secondarycontent {
    display: block;
	float: right;
	width: 20%;
}

