@charset "utf-8";
/* CSS Document */


div.panel-editor {
	clear: left;
	float: left;
	width: 100%;
}


div#secondarycontent div.panel form.pollpanel {
	padding: 10px;
	padding-bottom: 0px;
}
	div#secondarycontent div.panel form.pollpanel p.pollquestion{
		padding: 0;
		padding-bottom: 10px;
	}
	div#secondarycontent div.panel form.pollpanel input#pollsubmit {
		margin: 10px auto 0px;
	}
	div#secondarycontent div.panel ul.pollresults {
		padding: 10px;
	}
		div#secondarycontent div.panel ul.pollresults li {
			list-style: none;
			clear: left;
			margin:0;
		}
			div#secondarycontent div.panel ul.pollresults li span {
			}
			div#secondarycontent div.panel ul.pollresults li div.poll_result_bar {
				margin: 0 0 5px 0;
			}
				div#secondarycontent div.panel ul.pollresults li div.poll_result_bar {
					height: 5px;					
				}
					div#secondarycontent div.panel ul.pollresults li div.poll_result_bar span.colourBar {	
						height: 5px;
						background-color: #FFF;
						display: block;
					}







