
h3#taskTitle {
margin-bottom:15px;
position:relative;
width:734px;
}

h3#taskTitle span {
font-size:70%;
position:absolute;
right:0;
text-align:right;
width:200px
}


div#taskMessage {
background:#FEFFB3;
border:1px solid #819093;
font-size:90%;
margin-bottom:30px;
padding:10px;
}



