@charset "utf-8";
/* CSS Document */


div#media-tester p.media-999 {
	display: block;
}


div#midholder {
}

ul#accessMenu,
div#holder,
div#header,
div#header_img,
div#menu_div,
ul#globalMenu,
ul#menu,
div#midholder,
div#breadcrumb,
div#contentholder,
div#tags,
div#footer
{
	width: 100%;
	padding: 0;
	margin: 0;
}