@charset "utf-8";
/* CSS Document */


/* Standard text and link colours */
body {
	background-color: #9E8064;
	color: #4F2B11;
}
a {
	color: #D40000;
}
a:hover {
	color: #000;
}
a:active {
	color: #D40000;
}
h1, h2, h3, h4, h5 {
	color: #814E23;
}


/* ******************************************* */
/* Access menu bar along the top of every page */
div#access-menu {
	background-color: #854F23;
}
	/* Access menu text colour */
	div#access-menu ul#accessMenu {
		color: #FFFDF4;
	}
		/* Access menu link colours */
		div#access-menu ul#accessMenu li a {
			color: #FFFDF4;
		}
		div#access-menu ul#accessMenu li a:hover {
			color: #C6B1A0;
		}
		div#access-menu ul#accessMenu li a:active {
			color: #FFFDF4;
		}
/* ******************************************* */


/* Banner tagline colours */
div#header_img p,h1 a {
	color: #fff;	
}
	div#header_img p,h1 a:hover { color: #F6FF88; }
	div#header_img p,h1 a:active { color: #F6FF88; }

/* Forum bar colours colours */
/* these mimic the main menu colours so have put them here */
div#primarycontent table.treeline caption.title,
div#primarycontent table.treeline td.title {
    background-color: #793703;
    color: #C7B09E;
}

/* Main menu colours */
ul#menu {
	background-color: #793703;
}
ul#menu li {
}
	ul#menu li a {
		color: #C7B09E;
	}
	ul#menu li a:hover {
		color: #fff;
	}
	ul#menu li a:active {
		color: #fff;
	}
ul#menu li.selected {
	background-color: #793703;
}
	ul#menu li.selected a {
		color: #fff;
	}
	ul#menu li.selected a:hover {
		color: #F78D7B;
	}
	ul#menu li.selected a:active {
		color: #F78D7B;
	}


/* News ticker */
li.update-title {
	color: #CE0000;
}


/* Line below the title on the home page and content pages */
div#mainNews h2,
h1.pagetitle {
	border-bottom-color: #989898;
}



/* Landing panels + Normal panels*/
div#primarycontent div.landing-panel,
div#secondarycontent div.panel
{
	background-color: #D5BDAA;
	color: #3B2717;
}
	div#primarycontent div.landing-panel h3,
	div#secondarycontent div.panel h3
	{
		background-color: #854F23;
		color: #DED0C5;
	}


/* Extra CSS for workstream panels */
/* Fonts/sizes are inherited from normal panels */
div#secondarycontent div.workpanel {
	background-color: #773501;
	color: #DED0C5;
}
	div#secondarycontent div.workpanel p a {
		color: #fff;
	}
	div#secondarycontent div.workpanel p a:hover {
		color: #8D8454;
	}
	div#secondarycontent div.workpanel p a:active {
		color: #fff;
	}
	div#secondarycontent div.workpanel p a.level-1 {
		background-color: #9A6C48;
	}
		div#secondarycontent div.workpanel p a.level-1:hover {
			background-color: #9A6C48;
		}
	div#secondarycontent div.workpanel p a.level-2 {
		background-color: #9E7350;
	}
		div#secondarycontent div.workpanel p a.level-2:hover {
			background-color: #9E7350;
		}
	div#secondarycontent div.workpanel p a.level-3 {
		background-color: #A27A57;
	}
		div#secondarycontent div.workpanel p a.level-3:hover {
			background-color: #A27A57;
		}
	div#secondarycontent div.workpanel p a.level-4 {
		background-color: #A67F60;
	}
		div#secondarycontent div.workpanel p a.level-4:hover {
			background-color: #A67F60;
		}
	div#secondarycontent div.workpanel p.level-5 {
		background-color: #AA8666;
	}
		div#secondarycontent div.workpanel p a.level-5:hover {
			background-color: #AA8666;
		}
	div#secondarycontent div.workpanel p.level-6up {
		background-color: #AF8A6D;
	}
		div#secondarycontent div.workpanel p a.level-6up:hover {
			background-color: #AF8A6D;
		}
	
	
	
/* Calendar */
/* Calendar header */
ul#calendar-header li {
	background-color: #CFBCAB;
}
	ul#calendar-header li a {
		color: #992E29;
	}
	ul#calendar-header li a:hover {
		color: #000;
	}
	ul#calendar-header li a:active {
		color: #992E29;
	}
	ul#calendar-header li.header-month {
		color: #992E29;
	}
	
/* Calendar body */
table#calendar td {
	background-color: #CFBCAB;
}
	table#calendar td.inactive {
		color: #FFFCF9;
	}
	table#calendar td.active {
		color: #3A3320;
	}
		table#calendar td.active a {
			color: #C30000;
		}
		table#calendar td.active a:hover {
			color: #000;
		}
		table#calendar td.active a:active {
			color: #C30000;
		}
	table#calendar td p.today {
		background-color: #DDD0C7;
	}


/* And finally some nice footer stuff we can change */
div#footer div#copyright {
	color: #FFFEFD;
	background-color: #8F6B4B;
}
	div#footer div#copyright a {
		color: #FFFAF3;
	}
	div#footer div#copyright a:hover {
		color: #fff;
	}
	div#footer div#copyright a:active {
		color: #FFFAF3;
	}

/* We suggest you ensure the footerMenu background colour is the same as the body above. */
div#footerMenu {
	background-color: #9E8064;
}
	div#footerMenu p {
		color: #00020B;
	}
		div#footerMenu p a {
			color: #E6D4C8;
		}
		div#footerMenu p a:hover {
			color: #fff;
		}
		div#footerMenu p a:active {
			color: #E6D4C8;
		}
		
		
	
/* Content page stuff */

/* Left hand menu */
div#sidebar ul li a {
	background-color: #773501;
	border-color: #FFFFFF;
	color: #DDD1C5;
}
	div#sidebar ul li a:hover {
		color: #fff;
	}
	div#sidebar ul li a:active {
		color: #DDD1C5;
	}
div#sidebar ul li.subon a {
	background-color: #986E48;
	border-color: #FFFFFF;
	color: #FEFDF9;
}

/* Content forms */
form#sendfriend fieldset.border,
form.contact fieldset.border ,
form#f-add-comment fieldset.border
{
        border-color: #999;
}
form#sendfriend,
form.conact,
form#f-add-comment {
        background-color: #D5CFB7;
}
