@charset "utf-8";
/* CSS Document */


/* Standard text and link colours */
body {
	background-color: #6184A2;
	color: #6D6D6D;
}
a {
	color: #AC0344;
}
a:hover {
	color: #A4A077;
}
a:active {
	color: #A4A077;
}
h1, h2, h3, h4, h5 {
	color: #6084A4;
}


/* ******************************************* */
/* Access menu bar along the top of every page */
div#access-menu {
	background-color: #164A79;
}
	/* Access menu text colour */
	div#access-menu ul#accessMenu {
		color: #fff
	}
		/* Access menu link colours */
		div#access-menu ul#accessMenu li a {
			color: #fff;
		}
		div#access-menu ul#accessMenu li a:hover {
			color: #ccc;
		}
		div#access-menu ul#accessMenu li a:active {
			color: #fff;
		}
/* ******************************************* */


/* Banner tagline colours */
div#header_img p,h1 a {
	color: #fff;	
}
	div#header_img p,h1 a:hover { color: #000; }
	div#header_img p,h1 a:active { color: #fff; }

/* Forum bar colours colours */
/* these mimic the main menu colours so have put them here */
div#primarycontent table.treeline caption.title,
div#primarycontent table.treeline td.title {
    background-color: #003665;
    color: #ACACC4;
}

/* Main menu colours */
ul#menu {
	background-color: #003665;
}
ul#menu li {
}
	ul#menu li a {
		color: #ACACC4;
	}
	ul#menu li a:hover {
		color: #fff;
	}
	ul#menu li a:active {
		color: #fff;
	}
ul#menu li.selected {
	background-color: #003665;
}
	ul#menu li.selected a {
		color: #fff;
	}
	ul#menu li.selected a:hover {
		color: #fff;
	}
	ul#menu li.selected a:active {
		color: #fff;
	}


/* News ticker */
li.update-title {
	color: #A70541;
}


/* Line below the title on the home page and content pages */
div#mainNews h2,
h1.pagetitle {
	border-bottom-color: #989898;
}



/* Landing panels + Normal panels*/
div#primarycontent div.landing-panel,
div#secondarycontent div.panel
{
	background-color: #BDCBD9;
	color: #164A79;
}
	div#primarycontent div.landing-panel h3,
	div#secondarycontent div.panel h3
	{
		background-color: #164A79;
		color: #A8BED3;
	}


/* Extra CSS for workstream panels */
/* Fonts/sizes are inherited from normal panels */
div#secondarycontent div.workpanel {
	background-color: #164A79;
	color: #AABDCC;
}
	div#secondarycontent div.workpanel p a {
		color: #fff;
	}
	div#secondarycontent div.workpanel p a:hover {
		color: #000;
	}
	div#secondarycontent div.workpanel p a:active {
		color: #fff;
	}
	div#secondarycontent div.workpanel p a.level-1 {
		background-color: #779BB3;
	}
		div#secondarycontent div.workpanel p a.level-1:hover {
			background-color: #779BB3;
		}
	div#secondarycontent div.workpanel p a.level-2 {
		background-color: #829EB6;
	}
		div#secondarycontent div.workpanel p a.level-2:hover {
			background-color: #829EB6;
		}
	div#secondarycontent div.workpanel p a.level-3 {
		background-color: #87A1BA;
	}
		div#secondarycontent div.workpanel p a.level-3:hover {
			background-color: #87A1BA;
		}
	div#secondarycontent div.workpanel p a.level-4 {
		background-color: #8CA6BD;
	}
		div#secondarycontent div.workpanel p a.level-4:hover {
			background-color: #8CA6BD;
		}
	div#secondarycontent div.workpanel p.level-5 {
		background-color: #91AAC0;
	}
		div#secondarycontent div.workpanel p a.level-5:hover {
			background-color: #91AAC0;
		}
	div#secondarycontent div.workpanel p.level-6up {
		background-color: #98B1C5;
	}
		div#secondarycontent div.workpanel p a.level-6up:hover {
			background-color: #98B1C5;
		}
	
	
	
/* Calendar */
/* Calendar header */
ul#calendar-header li {
	background-color: #9FB4C7;
}
	ul#calendar-header li a {
		color: #AC0147;
	}
	ul#calendar-header li a:hover {
		color: #000;
	}
	ul#calendar-header li a:active {
		color: #AC0147;
	}
	ul#calendar-header li.header-month {
		color: #AC0147;
	}
	
/* Calendar body */
table#calendar td {
	background-color: #9FB4C7;
}
	table#calendar td.inactive {
		color: #FFFCFF;
	}
	table#calendar td.active {
		color: #3A3320;
	}
		table#calendar td.active a {
			color: #A70246;
		}
		table#calendar td.active a:hover {
			color: #fff;
		}
		table#calendar td.active a:active {
			color: #A70246;
		}
	table#calendar td p.today {
		background-color: #C7D0DF;
	}


/* And finally some nice footer stuff we can change */
div#footer div#copyright {
	color: #FFFEFD;
	background-color: #91AEB4;
}
	div#footer div#copyright a {
		color: #EEFFFF;
	}
	div#footer div#copyright a:hover {
		color: #000;
	}
	div#footer div#copyright a:active {
		color: #EEFFFF;
	}

/* We suggest you ensure the footerMenu background colour is the same as the body above. */
div#footerMenu {
	background-color: #6184A2;
}
	div#footerMenu p {
		color: #000;
	}
		div#footerMenu p a {
			color: #BA0345;
		}
		div#footerMenu p a:hover {
			color: #fff;
		}
		div#footerMenu p a:active {
			color: #BA0345;
		}
		
		
	
/* Content page stuff */

/* Left hand menu */
div#sidebar ul li a {
	background-color: #7D98B3;
	border-color: #FFFEFF;
	color: #fff;
}
	div#sidebar ul li a:hover {
		color: #000;
	}
	div#sidebar ul li a:active {
		color: #AAC0D7;
	}
div#sidebar ul li.subon a {
	background-color: #164A79;
	border-color: #FFFEFF;
	color: #AAC0D7;
}

/* Content forms */
form#sendfriend fieldset.border,
form.contact fieldset.border ,
form#f-add-comment fieldset.border
{
        border-color: #999;
}
form#sendfriend,
form.conact,
form#f-add-comment {
        background-color: #D5CFB7;
}
