



/* Header fader thingy */
div#headerimgstore {
	height: 341px;
	width: 589px;
	margin: 0px;
}
div.headernav {
	clear: both;
	background: url('/store/images/layout/fader-mask-4.png') no-repeat top left;
	height: 112px;
	width: 569px;
	margin-left: 9px;
	margin-top: 179px;
}


div.headerimg {
}

div#headertxt {
    clear: both;
    margin: 0;
    position: relative;
    top: 179px;
	height: auto;
	z-index: 1001;
	color: #000;
	width: 589px;
	margin: 0;
}
	div#headertxt div.deselect {
		background-image: none;
	}
	div#headertxt div.btn {
		float:left; 
		cursor:pointer; 
		z-index:5px;
		margin: 0;
		color: #fff;
		padding: 0;
		height: 38px;
		width: 38px;
		font-size: 110%;
		font-weight: bold;
		background: url('/store/images/layout/dot-selected.png') no-repeat;
		display: none;
	}
	div#headertxt div#fader-details {
		float: left;
		clear: left;
		width: 400px;
		height: 112px;
		margin: 0 0 9px 9px;
	}
		div#headertxt div#fader-details h2 {
			color: #C4161C;
			padding: 8px 10px 5px;
			width: 380px;
			font-size: 170%;
			margin: 0 9px 0 0;
		}
		div#headertxt div#fader-details p {
			padding: 0px 10px;
			width: 380px;
			margin: 0 9px 0 0;
		}
			div#headertxt div#fader-details p span {
			}
				div#headertxt div#fader-details p span a {
					font-weight: bold;
					color: #fff;
					font-size: 110%;
					display: none;
				}
		div#headertxt div#fader-spec {
			float: left;
			width: 150px;
			height: 112px;
			margin: 2px 9px 9px 21px;
		}
			div#headertxt div#fader-spec p {
				padding-bottom: 7px;
			}
				div#headertxt div#fader-spec p#fader-pprice {
					height: 30px;
					font-size: 150%;
					padding: 8px 0 0;
				}
					div#headertxt div#fader-spec p#fader-pprice span#fader-priceinfo {
						font-weight: normal;
						font-size: 60%;
						color: #757472;
					}
				div#headertxt div#fader-spec p a#fader-basket {
					height: 21px;
					color: #fff;
					display: block;
					padding: 4px 0 0 8px;
					font-weight: bold;
				}
					div#headertxt div#fader-spec p a#fader-basket:hover {
						text-decoration: none;
					}
				div#headertxt div#fader-spec p a#fader-more {
					padding-top: 4px;
					display: block;
				}

div#headertxt div#header-button {
	clear: both;
	float: left;
	width: 589px;
	height: 38px;
	margin-top: 3px;
}


		div#header-back {
		}
		div#header-next {
		}

.headerimg { 
	background-position: top left; 
	background-repeat: no-repeat; 
	position: absolute;
	height: 300px;  
	width: 589px;
}		
	#nav-outer { 
		height:110px; position:relative; top:24px; z-index:5px;  background-image:url("/img/layout/border.png"); 
	}
	#back { }
	#next { }
	#control { }


